<div class="grid grid-cols-2 gap-3">
  <div>
    <app-playlists-list 
      [items]="playlistsData" 
      [selectedId]="selectedId" />
      
    <app-playlists-list 
      [items]="playlistsData" 
      [selectedId]="selectedId" />

    <!-- <input type="text" [value]="selected.name" [placki]="123" /> -->
  </div>
  <div>
    {{ mode }}

    <!-- {{text}} [props] #ref (event) |pipe *template -->

    <ng-container [ngSwitch]="mode">
      <app-playlists-details *ngSwitchDefault />
      <app-playlists-editor *ngSwitchCase="'editor'" />
    </ng-container>

    <!-- ERROR Error: NG0201: No provider for _TemplateRef found. Find more at https://angular.io/errors/NG0201 -->
    <!-- <app-playlists-details [ngIf]="mode == 'details'" /> -->

    <!-- <ng-template [ngTemplateOutlet]="getActiveTpl()"></ng-template> -->

    <!-- <ng-template [ngIf]='...`' -->
    <!-- <ng-container placki *ngIf="mode == 'details'; then detailsTpl; else  editorTpl"  />

    <ng-template [ngIf]="mode == 'details'" [ngIfThen]="detailsTpl" [ngIfElse]="editorTpl" />
      
    <ng-template #detailsTpl>
      <app-playlists-details />
    </ng-template>
    
    <ng-template #editorTpl>
      <app-playlists-editor />
    </ng-template> -->

    <!-- 
      <ng-template [ngIf]="mode == 'details'">
        <app-playlists-details />
      </ng-template>
      
      <ng-template [ngIf]="mode == 'editor'">
        <app-playlists-editor />
      </ng-template> -->

    <p-button label="Details" severity="danger" (onClick)="showDetails()" />
    <p-button label="Edit" severity="primary" (onClick)="showEditor()" />
  </div>
</div>
