<div class="grid grid-cols-2 gap-3">
  <div>
    <app-playlists-list
      [items]="playlistsData"
      [(selectedId)]="selectedId"
      (selectedIdChange)="selectPlaylistById($event)"
    />
  </div>

  <div>
    {{selected.name}}
    <ng-container [ngSwitch]="mode">
      <app-playlists-details *ngSwitchDefault />
      <app-playlists-editor *ngSwitchCase="'editor'" />
    </ng-container>

    <p-button label="Details" severity="danger" (onClick)="showDetails()" />
    <p-button label="Edit" severity="primary" (onClick)="showEditor()" />
  </div>
</div>
