<div class="grid grid-flow-row auto-rows-max">
  <div
    *ngFor="let playlist of playlists; index as i"
    class="hover:bg-slate-500 text-white"
  >
    <p>{{ i + 1 }}. {{ playlist.name }}</p>
  </div>
</div>

{{selectedId}}
<!-- TODO: bg-blue-600 ?? -->

<!-- <ng-template
  ngFor
  [ngForOf]="playlists"
  let-playlist="$implicit"
  let-i="index"
>
  <div>
    <p>{{ i + 1 }}. {{ playlist.name }}</p>
  </div>
</ng-template> -->

<!-- <div ngFor="" ngForOf=""></div> -->

<!-- for(let p of placki ){
    p
} -->
