<!-- dl>(dt{Name}+dd{PLacki})*3 -->

<dl
  [title]="playlist.name"
  class="flex flex-col gap-3"
  id="playlist_{{ playlist.id }}"
  [attr.data-playlist-id]="playlist.id"
>
  <dt>Name</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public</dt>
  <!-- <dd [style.color]="playlist.public ? 'red' : 'green'">
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <dd
    [ngStyle]="{
      color: playlist.public ? 'red' : 'green'
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd> -->

<!-- 
   s = new NgStyle(<dd>) 
   s.ngStyle = {
    color: playlist.public ? 'red' : 'green'
   }
   s.ngDoCheck()
 -->


  <!-- [ngClass]="getClasses()" -->
  <!-- [class]="{x:1}" -->
  <dd
    [ngClass]="{
        isPublic: playlist.public,
        isPrivate: !playlist.public,
    }"
  ></dd>
<!-- 
  <dd
    class="placki"
    [class.isPublic]="playlist.public"
    [class.isPrivate]="playlist.public == false"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd> -->

  <dt>Decription</dt>
  <dd>{{ playlist.description }}</dd>
</dl>
