<pre>{{ playlist | json }}</pre>

<div class="flex flex-col gap-3">
  <div>
    <label class="inline-block w-full">Name</label>
    <input
      type="text"
      #nameRef
      pInputText
      [ngModel]="playlist.name" (ngModelChange)="playlist.name = $event "
      />
      <!-- (input)="playlist.name = $any($event.target).value" -->

    <p class="w-full text-center">{{ playlist.name.length }} / 100</p>
  </div>

  <div>
    <p-checkbox [ngModel] />
    <label class="ps-2">Public</label>
  </div>

  <div>
    <label class="inline-block w-full">Description</label>
    <textarea
      type="text"
      pInputTextarea
      [ngModel]="playlist.description"
    ></textarea>
  </div>
</div>
